#purpblock{
    display: block;
    background-color: #6E3493;
    height: 200px;
    margin: auto;
    width: 45%;
}
#join_team_purp{
    background-color: #6E3493;
    position: relative;
    width: 600px;
    height: 200px;
    left: 200px;
    bottom: 600px;
}
#end{
    width: 100%;
    height: 450px;
    background-color: #ECE6F1;
}

.box{
    background-color: #6E3493;
    float: left;
    width: 25%;
    height: 300px;
    margin: 200px 0px 0px 90px;
}
#join{
    background-color: #6E3493;
    width: 40%;
    height: 200px;
    margin: 1200px 0px 50px 420px;
}
.limits{
    text-align: center;
    margin: 0px 100px 0px 100px;
}
.image{

display: block;
margin: auto;
height: 250px;
width: 250px;
}
#jointeam{
    margin: 100px auto 100px auto;
    width: 15%;
    height: 100px;
    background-color: #7ABD54;
    border-radius: 20px;
}

.end{
    position: relative;
    background-color: #7ABD54;
    width: 100%;
    height: 500px;
}
#starlogo{
    margin: 125px 0px 0px 300px;
    width: 100px;
    height: 100px;
}

.icons{
    display: flex;
    padding: 0 225px;
}

.icons div{
    text-align: center;
    flex: 1;
}
.icons div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icons div{
    height: 50px;
}

#copyright{
    position: absolute;
    bottom:10px;
    width:100%;
}