<div id="join" >
  <h1 style="text-align:center; color:white; vertical-align: middle;"> JOIN OUR TEAM</h1>
</div>

<div id="contactblock"></div>

<!-- footer -->
<div class="container-fluid end">
  <div class="row">
    <div class="col-12 col-md-6">
      <img id="starlogo" src="../../assets/starlooooo.png">
      <p style="text-align:center; color:white; font-size:18px;">
        STAR services more than 500 schools in over 60 school districts, <br>
        reaching over a million students and their families every year. STAR <br>
        works with students, families, schools and communities to provide <br>
        exceptional educational and cultural enrichment opportunities.</p>
    </div>
    <div class="col-12 col-md-6">
      <p style="text-align:center; color:white; font-size:18px; margin: 150px 0px 0px 0px ">
        Contact</p>
      <p style="text-align:center; color:white; font-size:18px;">6101 W Centinela Ave # 380,
        <br> Culver City, CA 90230 </p>
      <p style="text-align:center; color:white; font-size:18px;">
        info@starinc.org</p>
      <div class="icons">
        <div>
          <img src="../../assets/facebook-f-brands.svg">
        </div>
        <div> <img src="../../assets/instagram-brands.svg"></div>
        <div> <img src="../../assets/twitter-brands.svg"></div>
        <div> <img src="../../assets/youtube-brands.svg"></div>

      </div>
    </div>
  </div>
  <p id="copyright" style="text-align:center; color:white; font-size:18px;"> © STAR Inc.
      ALL RIGHTS RESERVED</p>
</div>