<!--NavBar-->
<div>
  <div>
<a class="nav-link" routerLink="/homepage">
  <img id="star" src="../assets/starlogo.png">
</a>
</div>
<div id="navbar"></div>
<div>
<a routerLink="/aboutpage">
  <h1 class="first">
    About Us
  </h1>
</a>
</div>
<div>
<a class="nav-link" routerLink="/aboutpage">
  <h1 class="second">
    Contact Us
  </h1>
</a>
</div>
<div>
<a class="nav-link" routerLink="/aboutpage">
  <h1 class="third">
    Donate
  </h1>
</a>
</div>
</div>
<div id="box"></div>

<router-outlet></router-outlet>




<!-- Hexcodes light purple : #ECE6F1 purple : #6E3493 green: #7ABD54 orange : #DD6713 -->