

#star{
    position: relative;
    width: 500px;
    height: 100%;
}

.nav-link-brand{
    height: 100px;
}
.navbar{
    background-color: #6E3493;
    height: 80px;
    width: 100%;
    position: relative;
    overflow: auto;
}

.nav-link{
    color: white;
}


a {
    border:0px solid red; display:inline-block; line-height:0;
}
