<div>
  <!-- <img id="kids" src="/src/assets/starkids.png"> -->
  <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img  class="imgs" [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="imgs" [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="imgs" [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
</div>
<div>
  <h2 style="text-align:center; position:relative; bottom: 210px;">
    ​STAR Education is a charitable 501(c)(3) non-profit organization that has been selected the leader <br>in
    innovative educational programming and community-based cultural enrichment projects for over 30 years.
    <br> STAR services more than 500 schools in over 60 school districts, reaching over a million students and their
    families every year.<br> STAR works with students, families, schools and communities to provide exceptional
    educational and cultural enrichment opportunities.
  </h2>
</div>
<div id="purp"></div>
<h1 id="mailtitle">
  Join Our Mailing List!
</h1>
<p id="emailtitle"> Email:</p>
<hr id="line">
<div id="subscribeback"></div>
<h2 id="subscribe">
  Subscribe
</h2>
<div id="purpimpact">
  <h1 style="text-align:center; position:relative; top: 60px; color: white; font-size: 64px;">
    OUR IMPACT
  </h1>
</div>
<iframe id="video" width="1200" height="500" src="https://www.youtube.com/embed/vLhMvcH1y48">
</iframe>
<div id="purpother">
    <h1 style="text-align:center; position:relative; top: 30px; color: white; font-size: 64px;">
      OTHER PROGRAMS
    </h1>
  </div>
  <img id="otherprograms" src="/src/assets/starkids.png">
  <div id="end"></div>